.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Goudy Bookletter 1911', serif;
  margin-bottom: 2rem;
}

form {
  display: flex; 
  flex-direction: column;
  
}

input {
  margin: .5rem;
  padding: .5rem 1rem;
  font-family: 'Goudy Bookletter 1911', serif; 
  font-size: 1rem;
} 

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

button {
  background-color: tomato; 
  color: #fff; 
  margin: .5rem;
  padding: .5rem 2rem;
  border: none;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1rem;
}